body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input, .form-container textarea, .form-container select, .form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #218838;
}

label {
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}


table {
    width: 100%;
    table-layout: fixed; 
    word-wrap: break-word; /* Permite que el contenido largo se envuelva en la celda */
}

th, td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word; 
    overflow-wrap: break-word; /* Asegura que las palabras largas no se desborden */
    max-width: 200px; 
}

td {
    text-overflow: ellipsis; 
    white-space: normal; /* Permite que el texto se divida en varias líneas */
    overflow: hidden; 
}


td:nth-child(2) {
    width: 100%; 
}

@media screen and (max-width: 600px) {
    table, th, td {
        display: block;
        width: 100%;
    }

    td {
        padding: 10px;
        box-sizing: border-box;
        word-wrap: break-word;
    }

    th {
        display: none; 
    }
}
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

a:hover {
    background-color: #218838;
}

